.wp-panel {
  position: fixed;
  top: 50px;
  left: 120px;
  .wp-panel-container {
    position: relative;
    .wp-panel-button {
      position: absolute;
      z-index: 1;

      top: 0;
      left: 0;

      &.wp-panel-opened {
        opacity: 0;
        transition: opacity 0.2s ease-in;
        &:hover {
          transition: opacity 0.2s ease-in;
          opacity: 1;
        }
      }

      &.wp-panel-closed {
        opacity: 1;
      }
    }

    .wp-panel-content {
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      &.wp-panel-opened {
      }
      &.wp-panel-closed {
      }
    }
  }
}
