.wp-panel {
  .wp-panel-button {
    margin-left: -25px;
    margin-top: -25px;

    &.wp-panel-opened {
      opacity: 0;
      transition: opacity 0.2s ease-in;
      &:hover {
        transition: opacity 0.2s ease-in;
        opacity: 1;
      }
    }

    &.wp-panel-closed {
      opacity: 1;
    }
  }

  .wp-panel-container {
    position: fixed;

    .wp-panel-content {
      z-index: 0;
      position: fixed;
      &.wp-panel-opened {
      }
      &.wp-panel-closed {
      }
    }

    &.expand {
      box-shadow: 0 0 0.1em 0.1em rgba(255, 255, 0, 0.6);
    }
  }

  .wp-panel-resize-calque {
    position: fixed;
    background-color: transparent;
    box-shadow: 0 0 0.1em 0.1em rgba(0, 128, 255, 0.6);
  }

  .wp-panel-resize {
    width: 20px;
    height: 20px;
    background-color: silver;

    opacity: 0.25;
    transition: opacity 0.2s ease-in;
    &:hover {
      transition: opacity 0.2s ease-in;
      opacity: 1;
    }

    .wp-fab-icon {
      width: auto;
      line-height: 18px;
      padding: 1px 2px;
      display: block;
    }
  }
}
