.web-publisher {
  .editor-panel {
    .wp-panel-button {
      left: -25px;
    }

    .editor {
      width: 500px;
      max-height: 500px;
      background-color: transparent;
      overflow-y: auto;
      padding-top: 25px;

      .jsoneditor {
        border-radius: 5px 5px;
        height: 500px;
      }
    }
  }
}
