.web-publisher {
  .editor-panel {
    .wp-panel-button {
      left: -25px;
    }

    .editor {
      width: 500px;
      background-color: transparent;
      overflow-y: auto;
      padding-top: 25px;
      overflow-y: hidden;

      .jsoneditor {
        border-radius: 5px 5px;
        height: 500px;
        background-color: snow;
      }
    }
  }

  .second-panel-right {
    width: 350px;
    height: 400px;
    margin: 0;
    padding: 0;
    background-color: aquamarine;
  }

  .formulaire {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
}
